# Node
node_modules/
npm-debug.log

# SQLite
*.db
*.sqlite
*.sqlite3

# Logs
*.log
logs/

# OS specific
.DS_Store

# Editor specific
.vscode/

# Build output
dist/

# Environment
.env
.env.local
.env.*.local