extends ../layout
include ../partials/components/card_slide.pug
include ../partials/components/mcq_slide.pug

block content
  //- Deck title and description hangs above each card, which has a 5s timer
  section.play-deck.text-center
    h1= deck.name
    if deck.description
      p.mb-4= deck.description

    #deckSlider.custom-slider
      .slider-inner
        if deck.cards && deck.cards.length
          each card, i in deck.cards
            +cardSlide(card, i === 0 ? 'active' : '')
        if deck.multipleChoices && deck.multipleChoices.length
          each mcq, i in deck.multipleChoices
            +mcqSlide(mcq, i === 0 ? 'active' : '')

      //- UI including timer, left and right arrows
      .round-time-bar(data-style="smooth" style="--duration: 5;")
        div 
      button.slider-control.slider-prev(type="button")
        i.bi.bi-chevron-left 
        span.visually-hidden Previous
      button.slider-control.slider-next(type="button")
        i.bi.bi-chevron-right 
        span.visually-hidden Next

//- The Play script breaks other pages if included in scripts.pug, put here instead
block scripts 
  script(src="/javascripts/quiz.js")