footer.footer.mt-auto.py-3.bg-dark.text-white.text-center
      .container
        span &copy; 2026 Flashcard App. All rights reserved. 
        a(href='https://github.com/a-stave/cs465p-project') GitHub Repository