extends layout

block content
  #home
    h1.visually-hidden Cram.io - Learn anything with flashcards
    .prompt
      span.prompt-line
        span.prompt-static I want to learn about
        span.typewrite(
          data-period="4000"
          data-type='["countries of the world", "the periodic table", "famous painters", "computer science terms", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ea quasi sed recusandae praesentium, et fugit delectus aliquam nam reiciendis libero neque, vero, qui voluptates ad eveniet magni veritatis eligendi"]'
        ) 
          span.wrap

    a#home-start-button(href='/decks/create') Start