extends layout

block content
  .home
    .prompt
      span.prompt-line
        span.prompt-static I want to learn about 
        span.typewrite(
          data-period="4000"
          data-type='["countries of the world", "U.S. state capitals", "the periodic table", "famous painters", "computer science terms"]'
        )
          span.wrap

    a.home-start-button(href='/decks/create') Start