doctype html
html(lang='en')
  include partials/head.pug

  body 
    header
      include partials/navbar.pug

    //- main.container#main-content
    main#main-content
      block content

    include partials/footer.pug
    include partials/scripts.pug