doctype html
html(lang='en')
  include partials/head.pug

  body 
    header
      include partials/navbar.pug
      include partials/offcanvas.pug

    main
      block content

    include partials/footer.pug
    include partials/scripts.pug