/* This file contains styles for the header and footer elements of `layout.pug`, which includes a responsive
 * navbar that uses dropdowns on large media and Bootstrap's offcanvas component on smaller devices.
 *
 * The footer "disappears" on small media, but in order to avoid shifting the layout of the screen (especially
 * on the homepage) it simply makes it transparent rather than removing it. I've mixed feeling about this as
 * it clearly is bad from an accessibility standpoint, but the only other way to get the same effect without
 * causing the homepage typewriter to shift across breakpoints was to use coarse pointer instead of media width,
 * which would make testing difficult for the grader. Something to improve upon, I guess...
 */

.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  align-items: center;

  min-height: var(--header-height);
  background-color: light-dark(var(--header-light), var(--header-dark));
  color: light-dark(var(--header-text-light), var(--header-text-dark));
  box-shadow: var(--shadow-subtle);
}

/* Navbar brand spacing */
.site-header .navbar-brand {
  margin-left: 1rem;
  margin-right: 2rem;
  font-weight: 700;
}

.navbar-brand .brand-accent,
.navbar-brand .brand-icon {
  color: light-dark(var(--accent-light), var(--accent-dark));
}

/* Navbar links inherit theme colors */
.site-header .nav-link,
.site-header .navbar-brand {
  color: light-dark(var(--header-text-light), var(--header-text-dark));
}

.site-header .nav-link:hover,
.site-header .navbar-brand:hover {
  color: #ffffff;
}

/* Dropdown menus themed */
.site-header .dropdown-menu {
  background-color: light-dark(var(--header-light), var(--header-dark));
  border-color: light-dark(var(--border-light), var(--border-dark));
}

.site-header .dropdown-item {
  color: light-dark(var(--header-text-light), var(--header-text-dark));
}

.site-header .dropdown-item:hover {
  background-color: light-dark(
    var(--surface-muted-light),
    var(--surface-muted-dark)
  );
}

/* Footer: present in all but small screens */
.site-footer {
  background-color: light-dark(var(--header-light), var(--header-dark));
  color: light-dark(var(--header-text-dark), var(--header-text-light));
  font-size: 0.8rem;
  height: var(--footer-height);
}

.site-footer a {
  color: light-dark(var(--header-text-light), var(--header-text-dark));
}

/* On small screens footer is hidden and header adopts background theme, inverting text */
@media (max-width: 575.98px) {
  .site-footer {
    display: none;
  }

  .site-header {
    box-shadow: none;
    background-color: light-dark(
      var(--background-light),
      var(--background-dark)
    );
  }

  .site-header > .navbar-brand {
    color: light-dark(var(--text-light), var(--header-text-dark));
  }
}

/* Same issue as in cs 463, light theme is washed out and must be changed manually */
@media (max-width: 575.98px) and (prefers-color-scheme: light) {
  .navbar-toggler {
    filter: invert(1);
  }
}
