/* Many of these styles were taken from the final project I made for CS 463 */

* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  --text-light: #333;
  --background-light: white;
  --backdrop-light: #ddd;
  --header-light: #333;
  --accent-light: #ff3c00;
  --text-dark: #ddd;
  --background-dark: #1a2a3c;
  --backdrop-dark: #171d25;
  --header-dark: #12171e;
  --accent-dark: #0bb5ff;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  font:
    400 1rem/2 "Segoe UI",
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
  margin: 0;
  color: light-dark(var(--text-light), var(--text-dark));
  background-color: light-dark(var(--backdrop-light), var(--backdrop-dark));

  /* Holdover from current styles */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-top: 20px;
  /* background-color: red; */
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

#main-content {
  flex: 1;
  width: 80%;
  /* background-color: lightgrey; */
}
