/* Many of these styles were taken from the final project I made for CS 463 */

* {
  box-sizing: border-box;
}

/* TODO: I feel like `x-light` should be light THEME not light COLOR, etc.*/
:root {
  color-scheme: light dark;
  --text-light: #333;
  --background-light: white;
  --backdrop-light: #ddd;
  --header-light: #333;
  --accent-light: #ff3c00;
  --text-dark: #ddd;
  --background-dark: #1a2a3c;
  --backdrop-dark: #171d25;
  --header-dark: #12171e;
  --accent-dark: #0bb5ff;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  font:
    400 1rem/2 "Segoe UI",
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
  margin: 0;
  color: light-dark(var(--text-light), var(--text-dark));
  background-color: light-dark(var(--backdrop-light), var(--backdrop-dark));

  /* Holdover from current styles */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
}

#main-content {
  flex: auto;
  align-content: center;
  align-items: center;
  padding: 0 5rem;
  /* In `layout.pug` the .container Bootstrap utility adds default margin to either side */
  /* width: 20%; */
  background-color: light-dark(var(--background-light), var(--background-dark));
}

/* Deprecated from library */
.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.site-header,
.site-footer {
  color: light-dark(var(--text-dark), var(--text-dark));
  background-color: light-dark(var(--header-light), var(--header-dark));

  .dropdown-menu {
    background-color: light-dark(var(--header-light), var(--header-dark));
  }

  a {
    color: light-dark(var(--text-dark), var(--text-dark));
  }
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 0 1rem;
}
