mixin cardSlide(card, activeClass)
  .slide-item(class=activeClass)
    .flip-card.card-base
      .flip-card-front
        h2.card-question= card.question
      .flip-card-back
        h2.card-answer= card.answer
