mixin cardSlide(card, activeClass)
  .carousel-item(class=activeClass)
    .flip-card.study-card
      .flip-card-inner
        .flip-card-front
          p.card-question= card.question
        .flip-card-back
          p.card-answer= card.answer