div#deleteModal.modal.fade(tabindex="-1" aria-hidden="true")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title Delete Item
        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
      div.modal-body
        p Are you sure you want to permanently delete this item?
      div.modal-footer
        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") No
        button#confirmDeleteBtn.btn.btn-danger(type="button") Yes
