.offcanvas.offcanvas-end(tabindex="-1" id="mobileMenu")
  .offcanvas-header
    h5.offcanvas-title Menu
    button.btn-close(type="button" data-bs-dismiss="offcanvas")

  .offcanvas-body
    ul.nav.flex-column
      li.nav-item
        a.nav-link(href="/decks") Decks
      li.nav-item
        a.nav-link(href="/decks/create") Create Deck
      li.nav-item
        a.nav-link(href="/cards") Flashcards
      li.nav-item
        a.nav-link(href="/cards/create") Create Flashcard
      li.nav-item
        a.nav-link(href="/multiple-choice") Multiple Choice
      li.nav-item
        a.nav-link(href="/multiple-choice/create") Create Multiple Choice