script(src="/javascripts/main.js")
script(src='/javascripts/typing_prompt.js' defer)
script(src='/javascripts/collapsible-list.js' defer)
script(src='/javascripts/typewriter.js' defer)
script(src='/javascripts/flip-card.js' defer)
block scripts